
    *{
        font-family: 'Poppins', sans-serif;
    }
    ul{
        display:flex;
        justify-content:flex-end;
        
    }
    .custombtn{
        background-color:none;
        border:5px solid #00a2e8;
        color:#00a2e8;
        padding:1%;
        text-align: center;
        padding-left:3%;
        padding-right:3%;
        border-radius:3px;
        text-decoration:none;
       transition:all ease-in-out .2s;
    }
    .custombtn2{
        background-color:none;
        border:5px solid #00a2e8;
        padding:1%;
        padding-left:3%;
        padding-right:3%;
        border-radius:3px;
        text-decoration:none;
       transition:all ease-in-out .2s;
    position: fixed ;
    bottom: 0;;
    margin: auto;
    right:0;
    }
    .custombtn2:hover{
        background-color:#00a2e8;
        text-decoration:none;
        color:white;
        font-weight:300;
        
    }
    .custombtn:hover{
        background-color:#00a2e8;
        text-decoration:none;
        color:white;
        font-weight:300;
    }
   .showcase{
       height:50vh;
       padding-top:10%;
       align-items:center;
   }
   .showcase2{
      
       border-radius:10px;  
   }

   
    @media(min-width:576px){.drp{
    margin-left:-200%;
    padding:30%;
   
}

ul{
    align-items:center;
}
.profile{
    margin-top:5px;
}
}
@media(min-width:527px){
.dropdown-menu{
    transform: translateX(-61%);
}
}
@media(max-width:768px){
    .showcase{
        padding-top:12vh;
       height:60vh;
       justify-content:center;
       align-items:center;
   }

}   
.after{
    position:fixed;
    z-index: 10;
    text-align: center;
    width: 90%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 2!important;
}
.after2{
    z-index: 8;
    color:black;
   fill-opacity: .2;
}
.after3{
    position: fixed;
    bottom: 0;
    right: 0;

}
.image_full{
    transition: all ease-in-out 1s;
}
.viewer{
    z-index: 1000;
}
.image_full::before{
    background-color: #0009;
    
}
.logo{
        width:300px;    
        height:160px;
        }
      @media(max-width:310px){
          .logo{
              width:100%;
              height:100%;
          }
      }